extends layout

block content
    h1= "Conference"
    table
        tr
            td
                strong Creator:
            td
                span#user-name(user_id="#{user_id}")
        tr
            td
                strong Status :
            td
                span#call-status.well.well-sm
                    | Waiting...
    div.hang-button-div
        button.btn.btn-lg.btn-danger.hangup-button(disabled="", onclick="hangUp()") Hang up
        button.btn.btn-lg.btn-danger.call-button(onclick="callTo()") Call