doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        audio(controls='', autoplay='')
            source(src='#{url}', type='audio/mpeg')

script(src="//code.jquery.com/jquery-3.1.1.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js")

